/* src/app/post-file/post-file.component.css */

/*.text-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#textArea {
  margin-top: 20px;
  margin-left: 10px;
  width: 13%;
}

.btn {
  padding: 8px 12px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: #007bff;
  color: #ffffff;
  border: 1px solid #007bff;
  border-radius: 4px;
}

#matpanel {
  width: 48%;
  float: right;
  margin: 0;
} */
