
<!-- First mat-card with textarea and submit button -->
<mat-card>
  <div>
    <textarea [(ngModel)]="enteredValue" placeholder="Enter your post..."></textarea>
  </div>
  <button (click)="onAddPost()">Submit</button>
</mat-card>


<!-- Second mat-card with mat-expansion-panel -->
<div>
  <mat-card>
    <mat-expansion-panel *ngFor="let post of posts">
      <mat-expansion-panel-header>
        <p>{{ post.text }}</p>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-card>
</div>



